.site-nav__item, .hero__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.logo, .site-nav__link, .hero__tel {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: grey;
  font-family: Raleway, sans-serif;
  color: white;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  color: white;
  padding-top: 22px;
  padding-bottom: 22px;
}

.logo__name {
  font-size: 36px;
  line-height: 1.5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo__desc {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.12em;
}

header {
  background-color: #242B33;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 39px;
}

.site-nav__link {
  color: white;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  padding-top: 47px;
  padding-bottom: 47px;
}

.hero__title {
  font-family: Playfair Display, sans-serif;
  color: #d4c17f;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  padding-top: 220px;
  padding-bottom: 340px;
}

.hero {
  background-image: linear-gradient(to top, #242b33, rgba(45, 52, 60, 0.38), #242b33), url("/images/hero.jpg");
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, #242b33, rgba(45, 52, 60, 0.38), #242b33), url("/images/hero@2x.jpg");
  }
}

.hero__list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 129px;
}

.hero__address {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  margin-right: 98px;
}

.hero__tel {
  color: white;
}
