.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $footer-bgc;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
}

.footer__nav {
    padding: 0;
}

.footer-nav__item:not(:last-child) {
    margin-bottom: 15px;
}

.footer-contact__item,
.footer-icon__item {
    @extend %list;
}

.footer-contact__item:not(:last-child) {
    margin-bottom: 15px;
}

.footer-icon__item:not(:last-child) {
    margin-right: 21px;
}

.footer-contact__data {
    @extend %link;
    font-family: $primary-font;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.05em;
    color: $primary-color-text;
}

.footer-icon {
    display: flex;
    margin-top: 21px;

}


.footer-icon__link {
    fill: $primary-color-text;
}

.footer-icon__icon {
    fill: inherit;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon__icon:hover,
.footer-icon__icon:focus {
    fill: $accent-color-text;
}