.hero__title {
    font-family: $secondary-font;
    color: $accent-color-text;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.33;
    text-align: center;
    padding-top: 220px;
    padding-bottom: 340px
}

.hero {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-image: linear-gradient(to top,
                $shadow-hero-section),
            url('../images/hero.jpg');
            background-repeat: no-repeat;
}

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(to top,
                        $shadow-hero-section),
                    url('../images/hero@2x.jpg');
            }
        }

.hero__list {
    @extend %list;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: 129px;
}

.hero__address {
    display: flex;
    align-items: center;
    font-family: $primary-font;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;

    margin-right: 98px;
}

.hero__tel, 
.hero__link {
    display: flex;
    align-items: center;
    @extend %link;
    color: $primary-color-text;
}

.hero__icon {
    margin-right: 14px;
    fill: $primary-color-text;

}

