.logo {
    @extend %link;
    color: $primary-color-text;

    padding-top: 22px;
    padding-bottom: 22px;
}



.logo__name {
    font-size: 36px;
    line-height: 1.5;
    text-shadow: $logo-text-shadow;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo__desc {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.12em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo__name:hover,
.logo__name:focus {
    color: $accent-color-text;
}

.logo__desc:hover,
.logo__desc:focus {
    color: $accent-color-text;
}

.logo__footer {
    padding: 0;
}