.map {
    position: relative;
    padding-bottom: 180px;
}

.map__title {
    font-family: 'Playfair Display';
 
        font-weight: 700;
        font-size: 36px;
        line-height: 1.33;
    
        color: $accent-color-text;

        margin-bottom: 100px;
}