.question__title {
    font-family: 'Playfair Display';
     
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
    
        color: $accent-color-text;

        margin-bottom: 50px;
}