.testimonials {
    padding-top: 95px;
    padding-bottom: 120px;
    
}

.testimonials__list {
    @extend %list;

    display: flex;

    margin-right: auto;
    margin-left: auto;
    max-width: 794px;
}

.testimonials__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.testimonials__desc {
    max-width: 193px;

    font-weight: 300;
    font-size: 20px;
    line-height: 1.35;
    text-align: center;
}

.testimonials__icon {
    margin-bottom: 53px;

   
}

.testimonials__text {
font-family: 'Playfair Display';
    position: absolute;
    right: 5px;
    font-weight: 700;
    font-size: 400px;
    line-height: 1.33;
   
    color: $primary-color-text;

    opacity: 0.02;
}